{% extends '@App/printer/container.html.twig' %}

{% block title %}Here's your creation!{% endblock %}
{% block description %}Use your mouse to rotate and zoom the model. Press <em>back</em> to return.{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-xs-12 text-center">
            <iframe id="vs_iframe"
                    src="http://www.viewstl.com/?embeded&noborder=no&bgcolor=white&clean=no&url={{ model_url | url_encode }}"
                    style="border:0;margin:0;width:630px; height:350px"></iframe>

        </div>
        <div class="col-xs-12 text-center">
            <a class="btn btn-success clearfix" data-ng-click="snapshot()">take a snapshot</a>
            <a class="btn btn-info clearfix" href="#/">Back</a>
        </div>
    </div>
{% endblock %}