<div class="voxel-grid-container">
    <h2>{% block title %}{% endblock %}</h2>
    {% for y in 0 .. height %}
        <div>
            {% for x in 0 .. width %}
                {% block cell %}{% endblock %}
            {% endfor %}
        </div>
    {% endfor %}
</div>