{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .voxel-grid-container {
            display: table;
            border-collapse: collapse;
        }

        .voxel-grid-container div {
            display: table-row;
            margin: 0;
            border: 0;
            padding: 0;
            vertical-align: top;
        }

        .voxel-grid-container div div {
            display: table-cell;
            border: 1px solid;
            width: 20px;
            height: 20px;
            padding: 0;
        }

        .voxel-grid-container div div:hover {
            background-color: #2e6da4;
        }

        .voxel {
            background-color: darkred;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>

        function drawGrid(voxels)
        {
            for (var i = 0; i < voxels.length; i++) {
                var coord = voxels[i];
                $(".voxel-grid-container >div:nth-child(" + (coord.y + 1) + ") >div:nth-child(" + (coord.x + 1) + ")").addClass("voxel");
            }
        }

        $(function(){
            console.log("loading..");
            $.ajax({
                method: "GET",
                url: "/load",
                dataType: 'json',
            }).done(function (msg) {
                drawGrid(msg.voxels);
            });
        });

        $("body").on("keydown", function(e) {
            switch (e.keyCode) {
                case 67: // letter c
                    console.log("down c");
                    break;
                case 78: // letter n
                    console.log("down n");
                    break;
                case 76: // letter l
                    console.log("down l");
                    break;
            }
        });

        $(".voxel-grid-container").on("mouseenter", "div div", function () {
            var coord = $(this).data('coord');
            $.ajax({
                method: "POST",
                url: "/move",
                dataType: 'json',
                data: {'coord': coord}
            }).done(function (msg) {
                drawGrid(msg.voxels);
            });
        });

        $("#btn_grid_clear").click(function(){
            $.ajax({
                method: "POST",
                url: "/clear",
                dataType: 'json',
            }).done(function (msg) {
                $(".voxel").removeClass("voxel");
                drawGrid(msg.voxels);
            });

        });
    </script>
{% endblock %}

{% block body %}
    {% spaceless %}
        <div class="voxel-grid-container">
            {% for y in 0 .. height %}
                <div>
                    {% for x in 0 .. width %}
                        <div data-coord="{{ [x,y]|json_encode }}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
    <button id="btn_grid_clear">clear (c)</button>
    <button id="btn_grid_nozzle">toggle nozzle (n)</button>
    <button id="btn_grid_layer">next layer (l)</button>
{% endblock %}